* {
    box-sizing: border-box;
    font-family: sans-serif;
    color: #333333;
}

.container {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.toc-container {
    margin: 48px 0;
}

.container a {
    margin-right: 8px;
    padding-bottom: 2px;
    border-bottom: 1px solid #2bbbad;
    text-decoration: none;
    color: inherit;
}

input {
    padding: 4px 8px;
    border: 1px solid #2bbbad;
    border-radius: 4px;
    font-size: 1em;

    margin: 8px;
}